DATABASE_URL="postgresql://postgres:postgres@localhost:5432/daria_dong?schema=public"
SESSION_SECRET="----"
APP_SHARED_PASSWORD="----"
# APP_SHARED_PASSWORD_HASH=""
ADMIN_PASSWORD="----"
# ADMIN_PASSWORD_HASH=""
SMTP_HOST="smtp.example.com"
SMTP_PORT="---"
SMTP_SECURE="false"
SMTP_USER="no-reply@example.com"
SMTP_PASS="your-smtp-password"
EMAIL_FROM="Daria Dong <no-reply@example.com>"
USER_FALLBACK_PASSWORD="----"
